### Craft Beer Stats by State - 2016

Scraping the craft beer produced (bbls) and craft beer gallons consumed per adult by state for 2016 from the Brewer's Association website

Working as of 4/1/18

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.brewersassociation.org/statistics/by-state/'
resp = requests.get(url)
site = resp.content
soup = BeautifulSoup(site, 'html.parser')

In [3]:
soup.h1.text

'Brewers Association'

In [4]:
temp_dict = {}
states = []
consumed = []
craft_barr_produced = []

for state_name in soup.findAll('div', {'id':'state-header'}):
    states.append(state_name.h1.text)

div_tag = soup.findAll('div', {'id': 'production'})

for tag in div_tag:
    per_cap = tag.find('span', {'class': 'per-capita'})
    count = per_cap.find('span', {'class': 'count'})
    consumed.append(count.text)
    total = tag.find('span', {'class': 'total'})
    produced = total.find('span', {'class': 'count'})
    craft_barr_produced.append(produced.text)
    
temp_dict['state'] = states
temp_dict['craft_gal_per_adult'] = consumed
temp_dict['craft_barr_produced'] = craft_barr_produced

print(temp_dict['state'][:5])
print(temp_dict['craft_gal_per_adult'][:5])
print(temp_dict['craft_barr_produced'][:5])

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California']
['0.5', '12.5', '0.9', '0.5', '3.7']
['61,042', '207,369', '147,255', '35,846', '3,295,221']

In [6]:
#Putting the data into a data frame
df = pd.DataFrame(temp_dict)
df.head()

  craft_barr_produced craft_gal_per_adult       state
0              61,042                 0.5     Alabama
1             207,369                12.5      Alaska
2             147,255                 0.9     Arizona
3              35,846                 0.5    Arkansas
4           3,295,221                 3.7  California

In [7]:
#Saving the data as a csv
df.to_csv('craft_state_stats.csv')